---
layout: base
---
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">

<style>
.header {
    background: url(/static/header.jpg) center;
    padding: 50px 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

h1 {
    color: white;
}

h2 {
    background: url(/static/header.jpg) center;
    padding: 10px;
    color: white;
}

blockquote {
    font-size: 14px;
}
</style>

{{ content }}

<hr />

<p>2016 / <a href="https://skoleni-git.cz">Školení GIT</a> / <a href="https://ondrejsika.cz">Profesní web</a> / <a href="https://ondrejsika.com">Osobní web</a></p>



</div>
</div>
</div>

