---
layout: base
---
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">

<style>
.header {
    background: url(/static/d.png) #E7E7E7 right no-repeat;
    padding: 40px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}


h1 {
    color: #394D54;
}

.site-header a:hover{
    color: #394D54;
}

h2 {
    background: #E7E7E7;
    padding: 10px;
    color: #394D54;
}

blockquote {
    font-size: 14px;
}
</style>

<p style="text-align: right; margin-top: 10px;">
<a href="https://skoleni.io">skoleni.io</a>
| <a href="https://skoleni-git.cz">skoleni-git.cz</a>
| <a href="https://skoleni-gitlab.cz">skoleni-gitlab.cz</a>
| <a href="https://skoleni-ci.cz">skoleni-ci.cz</a>
</p>

<div class="header">
    <span class="site-header"><a href="/"><h1 style="margin-bottom: 0;">Školení Docker</h1></a></span>
    <p style="color: #394D54">by <a href="https://bysika.cz"><b>Ondrej Sika</b></a> | <a href="https://skoleni.io">Skoleni.io</a></p>
    <a href="/registrace.html" class="btn btn-large btn-info">Objednat školení</a>
    <a href="/#kontakt" class="btn btn-large btn-info">Kontaktovat</a>
</div>

{{ content }}

<hr />

<p>2017 / <a href="https://skoleni-docker.cz">Školení Docker</a> / <a href="https://skoleni-git.cz">Školení Git</a> / <a href="https://bysika.cz">Profesní web</a> / <a href="https://ondrejsika.com">Osobní web</a></p>



</div>
</div>
</div>

