---
layout: base
---
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">

<style>
.header {
    background: url(/static/d.png) #E7E7E7 right no-repeat;
    padding: 40px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}


h1 {
    color: #394D54;
}

.site-header a:hover{
    color: #394D54;
}

h2 {
    background: #E7E7E7;
    padding: 10px;
    color: #394D54;
}

blockquote {
    font-size: 14px;
}
</style>

<div class="header" style="margin-top: 20px;">
    <span class="site-header"><a href="/"><h1 style="margin-bottom: 0;">Školení Docker</h1></a></span>
    <p style="color: #394D54">by <a href="https://ondrej-sika.cz"><b>Ondrej Sika</b></a> | <a href="https://ondrej-sika.cz/skoleniio">Skoleni.io</a></p>
    <a href="https://ondrej-sika.cz/skoleni/docker/poptavka/" class="btn btn-large btn-info">Nezávazně poptat školení</a>
    <a href="/#kontakt" class="btn btn-large btn-info">Kontaktovat</a>
</div>

{{ content }}

<hr />

<p><strong>Školení Docker</strong> by <a href="https://ondrej-sika.cz">Ondrej Sika</a></p>



</div>
</div>
</div>

